@import '../../../../styles/settings';

.c-navigation {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	padding: 1.5rem;
	background: linear-gradient(to bottom, $blue-2x-dark, rgba($blue-2x-dark, 0));
}

.c-navigation__logo {
	width: 300px;

	svg {
		fill: $white;
	}
}

.c-navigation__link {
	display: inline-block;
	padding: 0.5rem 1rem;
	font-family: $font-family-ui;
	font-size: 1.25rem;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	transform: perspective(1px) translateZ(0);
	transition-property: transform;
	transition-duration: 300ms;

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 5%;
		z-index: -1;
		width: 90%;
		height: 10px;
		background: radial-gradient(ellipse at center, rgba($teal, 0.35) 0%, rgba($teal, 0) 80%);
		opacity: 0;
		pointer-events: none;
		transition-duration: 300ms;
		transition-property: transform, opacity;
	}

	&:hover {
		transform: translateY(-5px);

		&::before {
			opacity: 1;
			transform: translateY(5px);
		}
	}
}
