/**
 * Variables
 * ----
 */

/**
 * Colors
 */

$white: #fff;

$blue-1x-dark: #1b2735;
$blue-2x-dark: #090a0f;

$teal: #00bebe;

/**
 * Fonts
 */

$font-family-ui: 'Orbitron', sans-serif;
$font-family-text: 'Raleway', sans-serif;
